


<h1>seniori</h1>
{{ name }}

{{ go|raw }}

<hr class="break">
<div>
  <h2>content </h2>
  {{ content }}
</div>

<div>
  <h2>content raw</h2>
  {{ content|raw }}
</div>

<hr class="break">

<div>
  <h2>content2 template loader</h2>
  {{ content2|raw }}
</div>
